<div ng-show="sst2.show_bulkheads">
  <svg id="svg-bulkheads" width="3000" height="300">
    <!-- All final bulkheads -->
    <g ng-show="sst.show_final_bulkheads" ng-repeat="bulkhead in sst.bulkheads">
      <g ng-repeat="point in bulkhead.shape">
        <line ng-show="$index > 0"
          ng-attr-x1="{{sst.bulkheads[$parent.$index].shape[$index-1].x + sst2.bulkhead_placement_xy.x + sst.bulkheads[$parent.$index].display_offset.x}}"
          ng-attr-y1="{{sst.bulkheads[$parent.$index].shape[$index-1].y + sst2.bulkhead_placement_xy.y + sst.bulkheads[$parent.$index].display_offset.y}}"
          ng-attr-x2="{{point.x + sst2.bulkhead_placement_xy.x + sst.bulkheads[$parent.$index].display_offset.x}}"
          ng-attr-y2="{{point.y + sst2.bulkhead_placement_xy.y + sst.bulkheads[$parent.$index].display_offset.y}}"
          stroke-width="1" stroke="lime" fill="none"/>
      </g>
      <line ng-show="sst.show_final_bulkheads"
        ng-attr-x1="{{sst.bulkheads[$index].shape[0].x + sst2.bulkhead_placement_xy.x + sst.bulkheads[$index].display_offset.x}}"
        ng-attr-y1="{{sst.bulkheads[$index].shape[0].y + sst2.bulkhead_placement_xy.y + sst.bulkheads[$index].display_offset.y}}"
        ng-attr-x2="{{sst.bulkheads[$index].shape[sst.bulkheads[$index].shape.length-1].x + sst2.bulkhead_placement_xy.x + sst.bulkheads[$index].display_offset.x}}"
        ng-attr-y2="{{sst.bulkheads[$index].shape[sst.bulkheads[$index].shape.length-1].y + sst2.bulkhead_placement_xy.y + sst.bulkheads[$index].display_offset.y}}"
        stroke-width="1" stroke="lime" fill="none"/>
    </g>
  </svg>
  <button id="save-final-button" type="button" ng-click='make_svg();download_file(sst2.svg, "bulkheads.svg", "image/svg+xml");'><a href="#">Save To File</a></button>
</div>
<img id="back-image" src="{{sst.background_3view.length > 0 ? 'data:image/jpg;base64,'+sst.background_3view : sst.plan_image}}" />
<div id="back-image-div" ng-click="click_on_image($event)" class="desktop-panel" style="{{sst.background_3view.length > 0 ? 'background-image: url(data:image/jpg;base64,'+sst.background_3view+') no-repeat;' : 'background: url('+sst.plan_image+') no-repeat;'}}"">
<svg id="the-svg" width="3000" height="3000">
<rect id="sideview-box"
  ng-show="sst.side.zone.lower_left.x != null && sst.side.zone.lower_left.y != null && sst.side.zone.upper_right.x != null && sst.side.zone.upper_right.y != null"
  ng-attr-x="{{sst.side.zone.lower_left.x}}"
  ng-attr-y="{{sst.side.zone.upper_right.y}}"
  ng-attr-width="{{Math.abs(sst.side.zone.upper_right.x - sst.side.zone.lower_left.x)}}"
  ng-attr-height="{{Math.abs(sst.side.zone.lower_left.y - sst.side.zone.upper_right.y)}}"
  stroke-width="5" stroke="lime" fill="none" />
<rect id="topview-box" ng-attr-x="{{sst.top.zone.lower_left.x}}"
  ng-show="sst.top.zone.lower_left.x != null && sst.top.zone.lower_left.y != null && sst.top.zone.upper_right.x != null && sst.top.zone.upper_right.y != null"
  ng-attr-y="{{sst.top.zone.upper_right.y}}"
  ng-attr-width="{{Math.abs(sst.top.zone.upper_right.x - sst.top.zone.lower_left.x)}}"
  ng-attr-height="{{Math.abs(sst.top.zone.lower_left.y - sst.top.zone.upper_right.y)}}"
  stroke-width="5" stroke="cornflowerblue" fill="none" />
<line id="sideview-ref-line"
  ng-show="sst.side.reference_line.nose.x != null && sst.side.reference_line.nose.y != null && sst.side.reference_line.tail.x != null && sst.side.reference_line.tail.y != null"
  ng-attr-x1="{{sst.side.reference_line.nose.x}}"
  ng-attr-y1="{{sst.side.reference_line.nose.y}}"
  ng-attr-x2="{{sst.side.reference_line.tail.x}}"
  ng-attr-y2="{{sst.side.reference_line.tail.y}}"
  stroke-width="1" stroke="orangered" fill="none" />
<line id="topview-ref-line" ng-attr-x1="{{sst.top.reference_line.nose.x}}"
  ng-show="sst.top.reference_line.nose.x != null && sst.top.reference_line.nose.y != null && sst.top.reference_line.tail.x != null && sst.top.reference_line.tail.y != null"
  ng-attr-y1="{{sst.top.reference_line.nose.y}}"
  ng-attr-x2="{{sst.top.reference_line.tail.x}}"
  ng-attr-y2="{{sst.top.reference_line.tail.y}}"
  stroke-width="1" stroke="orangered" fill="none" />
<g ng-repeat="point in sst.top.left_outline">
  <line ng-show="$index > 0"
    ng-attr-x1="{{sst.top.left_outline[$index-1].x}}"
    ng-attr-y1="{{sst.top.left_outline[$index-1].y}}"
    ng-attr-x2="{{point.x}}"
    ng-attr-y2="{{point.y}}"
    stroke-width="1" stroke="blue" fill="none"/>
</g>
<g ng-repeat="point in sst.top.right_outline">
  <line ng-show="$index > 0"
    ng-attr-x1="{{sst.top.right_outline[$index-1].x}}"
    ng-attr-y1="{{sst.top.right_outline[$index-1].y}}"
    ng-attr-x2="{{point.x}}"
    ng-attr-y2="{{point.y}}"
    stroke-width="1" stroke="blue" fill="none"/>
</g>
<g ng-repeat="point in sst.side.top_outline">
  <line ng-show="$index > 0"
    ng-attr-x1="{{sst.side.top_outline[$index-1].x}}"
    ng-attr-y1="{{sst.side.top_outline[$index-1].y}}"
    ng-attr-x2="{{point.x}}"
    ng-attr-y2="{{point.y}}"
    stroke-width="1" stroke="blue" fill="none"/>
</g>
<g ng-repeat="point in sst.side.bottom_outline">
  <line ng-show="$index > 0"
    ng-attr-x1="{{sst.side.bottom_outline[$index-1].x}}"
    ng-attr-y1="{{sst.side.bottom_outline[$index-1].y}}"
    ng-attr-x2="{{point.x}}"
    ng-attr-y2="{{point.y}}"
    stroke-width="1" stroke="blue" fill="none"/>
</g>

<!-- All cross sections -->
<g ng-repeat="this_sec in sst.xsecs">
  <g ng-repeat="point in this_sec.xsec">
    <line ng-show="$index > 0"
      ng-attr-x1="{{sst.xsecs[$parent.$index].xsec[$index-1].x}}"
      ng-attr-y1="{{sst.xsecs[$parent.$index].xsec[$index-1].y}}"
      ng-attr-x2="{{point.x}}"
      ng-attr-y2="{{point.y}}"
      stroke-width="1" stroke="red" fill="none"/>
  </g>
</g>

<!-- All top bulkhead locations -->
<g ng-repeat="this_bulk in sst.top.display.bulk">
  <line
    ng-attr-x1="{{this_bulk.x1}}"
    ng-attr-y1="{{this_bulk.y1}}"
    ng-attr-x2="{{this_bulk.x2}}"
    ng-attr-y2="{{this_bulk.y2}}"
    stroke-width="1" stroke="lime" fill="none"/>
</g>

<!-- All side bulkhead locations -->
<g ng-repeat="this_bulk in sst.side.display.bulk">
  <line
    ng-attr-x1="{{this_bulk.x1}}"
    ng-attr-y1="{{this_bulk.y1}}"
    ng-attr-x2="{{this_bulk.x2}}"
    ng-attr-y2="{{this_bulk.y2}}"
    stroke-width="1" stroke="lime" fill="none"/>
</g>

<!-- All top xsec locations -->
<g ng-repeat="this_bulk in sst.top.display.xsec">
  <line
    ng-attr-x1="{{this_bulk.x1}}"
    ng-attr-y1="{{this_bulk.y1}}"
    ng-attr-x2="{{this_bulk.x2}}"
    ng-attr-y2="{{this_bulk.y2}}"
    stroke-width="1" stroke="red" fill="none"/>
</g>

<!-- All side xsec locations -->
<g ng-repeat="this_bulk in sst.side.display.xsec">
  <line
    ng-attr-x1="{{this_bulk.x1}}"
    ng-attr-y1="{{this_bulk.y1}}"
    ng-attr-x2="{{this_bulk.x2}}"
    ng-attr-y2="{{this_bulk.y2}}"
    stroke-width="1" stroke="red" fill="none"/>
</g>

</svg>
</div>

<new-window>
<style>
.instruction {
  color: red;
}

.toolbox {
  font-family: calibri,arial,sans-serif;
  font-size: 10pt;
}

/* Menu General Styles */
.menuBackground {
	background: brown;
}
.dropDownMenu a {
	color: #FFF;
}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: #000;
}

/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}

/* Level 2 */
.dropDownMenu > li > ul {
	text-align: left;
	width: auto; /* change auto value with 200px if you want a bigger menu */
	display: none;
	background: #5DBB04;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
.dropDownMenu > li:hover > ul {
	display: block;
}
.dropDownMenu ul li a {}
.dropDownMenu ul li a:hover {}

  /* Level 3 */
  .dropDownMenu > li > ul > li > ul {
  	text-align: left;
  	display: none;
  	background: #E7B400;
  	position: absolute;
  	left: 100%;
  	top: 0;
  	z-index: 9999999;
  }
  .dropDownMenu > li > ul > li:hover > ul {
  	display: block;
  }
  .dropDownMenu ul ul li {}
  .dropDownMenu ul ul li a {}
  .dropDownMenu ul ul li a:hover {}


</style>

<div id='the-toolbox-2' class="toolbox">
<div class="menuBackground">
	<ul class="dropDownMenu">
    <li><a href="#">File</a>
      <ul>
        <li ng-click='set_3view();'><a href="#">Set Background 3-view</a></li>
      </ul>
    </li>
		<li><a href="#">Define Side View</a>
      <ul>
        <li ng-click='set_box(sst.side.zone)'><a href="#">Set Side View Zone Box</a></li>
        <li ng-click='set_line(sst.side.reference_line)'><a href="#">Define reference line</a></li>
        <li ng-click='set_arc(sst.side.top_outline, true)'><a href="#">Digitize fuselage outline upper</a></li>
        <li ng-click='set_arc(sst.side.bottom_outline, true)'><a href="#">Digitize fuselage outline lower</a></li>
      </ul>
    </li>
		<li><a href="#">Define Top/Bottom View</a>
			<ul>
        <li ng-click='set_box(sst.top.zone)'><a href="#">Set Top/Bottom View Zone Box</a></li>
        <li ng-click='set_line(sst.top.reference_line)'><a href="#">Define center line</a></li>
        <li ng-click='set_arc(sst.top.left_outline, true)'><a href="#">Digitize fuselage outline left</a></li>
        <li ng-click='set_arc(sst.top.right_outline, true)'><a href="#">Digitize fuselage outline right</a></li>
			</ul>
		</li>
		<li><a href="#">Digitize Cross Sections</a>
			<ul>
        <li ng-click='set_xsec_point_and_arc(sst.xsecs, sst.top, sst.side)'><a href="#">Add a new cross section</a></li>
        <li ng-click='destroy_xsecs()'><a href="#">Destroy ALL cross sections</a></li>
        <li ng-click='clean_up_xsecs()'><a href="#">Clean up cross sections (removes malformed)</a></li>
			</ul>
		</li>
		<li><a href="#">Bulkheads</a>
			<ul>
        <li ng-click='set_bulkhead_arc(sst.bulkheads, sst.top, sst.side)'><a href="#">Mark Locations of Desired Bulkheads</a></li>
        <li ng-click='generate_bulkheads();'><a href="#">Generate Bulkheads</a></li>
        <li ng-click='destroy(sst.bulkheads,"bulkhead","bulkheads");'><a href="#">Destroy ALL Bulkheads</a></li>
        <li ng-click='make_svg();download_file(sst2.svg, "bulkheads.svg", "image/svg+xml");'><a href="#">Save Bulkheads to a file</a></li>
			</ul>
		</li>
    <li><a href="#">Other Commands</a>
			<ul>
        <li ng-click='set_plan_image("")'><a href="#">Hide plan image</a></li>
        <li ng-click='set_plan_image("img/p51_side.jpg")'><a href="#">Show plan image</a></li>
        <li ng-click='save_data()'><a href="#">Save Your Work</a></li>
        <li ng-click='restore_data()'><a href="#">Restore Your work</a></li>
        <li ng-click='model_integrity_check(sst, m)'><a href="#">Model Integrity Check</a></li>
			</ul>
		</li>
	</ul>
</div>


<br/>
<button id="done-button" type="button" ng-click='done_button();'>Done</button>
<button id="undo-button" type="button" ng-click='undo_point();'>Undo Point</button>
<br/><br/>
<div>
  <span class="instruction">{{instruction}}<span>
</div>

</div>

<div id="select-background">
  <input type="file" id="background_file" name="background_file"/>
  <button ng-click="add_image()">Set as Background</button>
</div>

<div ng-init="initialize_toolbox()"></div>
</new-window>
