<div class="toolbox">
<ul>
<li>Define Side View</li>
<ul>
<li ng-click='set_box(sst.side.zone)'>Set Side View Zone Box</li>
<li ng-click='set_line(sst.side.reference_line)'>Define reference line</li>
<li>Digitize fuselage outline upper</li>
<li>Digitize fuselage outline lower</li>
</ul>
<li>Define Top/Bottom View</li>
<ul>
<li ng-click='set_box(sst.top.zone)'>Set Top/Bottom View Zone Box</li>
<li ng-click='set_line(sst.top.reference_line)'>Define center line</li>
<li ng-click='set_arc(sst.top.left_outline)'>Digitize fuselage outline left</li>
<li>Digitize fuselage outline right</li>
</ul>
<li>Digitize Cross Sections</li>
<ul>
<li>Add Cross Section Zone Box</li>
</ul>
</ul>
<div>
  {{instruction}}
</div>

</div>
<div  ng-click="click_on_image($event)" class="desktop-panel" style="background: url('img/p51_side.jpg') no-repeat;">
<svg id="the-svg" width="3000" height="3000">
<rect id="sideview-box" 
  ng-show="sst.side.zone.lower_left.x != null && sst.side.zone.lower_left.y != null && sst.side.zone.upper_right.x != null && sst.side.zone.upper_right.y != null"
  ng-attr-x="{{sst.side.zone.lower_left.x}}" 
  ng-attr-y="{{sst.side.zone.upper_right.y}}"
  ng-attr-width="{{Math.abs(sst.side.zone.upper_right.x - sst.side.zone.lower_left.x)}}"
  ng-attr-height="{{Math.abs(sst.side.zone.lower_left.y - sst.side.zone.upper_right.y)}}" 
  stroke-width="5" stroke="lime" fill="none" />
<rect id="topview-box" ng-attr-x="{{sst.top.zone.lower_left.x}}"
  ng-show="sst.top.zone.lower_left.x != null && sst.top.zone.lower_left.y != null && sst.top.zone.upper_right.x != null && sst.top.zone.upper_right.y != null" 
  ng-attr-y="{{sst.top.zone.upper_right.y}}"
  ng-attr-width="{{Math.abs(sst.top.zone.upper_right.x - sst.top.zone.lower_left.x)}}"
  ng-attr-height="{{Math.abs(sst.top.zone.lower_left.y - sst.top.zone.upper_right.y)}}" 
  stroke-width="5" stroke="cornflowerblue" fill="none" />
<line id="sideview-ref-line" 
  ng-show="sst.side.reference_line.nose.x != null && sst.side.reference_line.nose.y != null && sst.side.reference_line.tail.x != null && sst.side.reference_line.tail.y != null" 
  ng-attr-x1="{{sst.side.reference_line.nose.x}}" 
  ng-attr-y1="{{sst.side.reference_line.nose.y}}"
  ng-attr-x2="{{sst.side.reference_line.tail.x}}"
  ng-attr-y2="{{sst.side.reference_line.tail.y}}" 
  stroke-width="1" stroke="orangered" fill="none" />                          
<line id="topview-ref-line" ng-attr-x1="{{sst.top.reference_line.nose.x}}"
  ng-show="sst.top.reference_line.nose.x != null && sst.top.reference_line.nose.y != null && sst.top.reference_line.tail.x != null && sst.top.reference_line.tail.y != null" 
  ng-attr-y1="{{sst.top.reference_line.nose.y}}"
  ng-attr-x2="{{sst.top.reference_line.tail.x}}"
  ng-attr-y2="{{sst.top.reference_line.tail.y}}" 
  stroke-width="1" stroke="orangered" fill="none" />
<g ng-repeat="point in sst.top.left_outline">   
  <line ng-show="$index > 0" 
    ng-attr-x1="{{sst.top.left_outline[$index-1]}}" 
    ng-attr-y1="{{sst.top.left_outline[$index-1]}}"
    ng-attr-x2="{{point.x}}"
    ng-attr-y2="{{point.y}}" 
    stroke-width="1" stroke="blue" fill="none"/>           
</g>                                  

</svg>
</div>
